body {
	background-color: #899E97;
}

@-webkit-keyframes goWheels {
	100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes goPackage {
	83% {-webkit-transform: translateX(290px);}
	95% {-webkit-transform: translateX(300px) translateY(25px) rotate(90deg);}
	100% {-webkit-transform: translateX(300px) translateY(25px) rotate(90deg);}
}


#wraper {
	width: 400px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	/*border: 2px solid black;*/
}

.stand {
	width: 10px;
	height: 13px;
	position: absolute;
	background-color: #BCBEC0;
	top: 279px;
}

#stand1 {
	left: 11px;
}
#stand2 {
	left: 100px;
}
#stand3{
  left: 200px;
}
#stand4{
  left: 290px;
}
#ums1{
	width:20px;
	height: 50px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background-color: #525e5a;
	top:216px;
	left:20px;
}
#ums1prox{
	width:15px;
	height:20px;
	background-color: #c90812;
	left:23px;
	top:226px;
}
#ums2{
	width:20px;
	height: 50px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background-color: #525e5a;
	top:216px;
	left:280px;
}
#ums2prox{
	width:15px;
	height:20px;
	background-color: #c90812;
	left:283px;
	top:226px;
}
#band {
	width: 300px;
	height: 13px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	background-color: #58595B;
	top: 266px;
	left: 10px;
}
#alarm{
	width:24px;
	height: 24px;
	border-radius: 24px;
	background-color: #c90812;
	position: absolute;
	left:-50px;
	top:150px;
}

#beforeAlarm{
  position: absolute;
  left: -39px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #700000;
  top:150px;
  transform: rotate(45deg);
}
#afterAlarm{
  position: absolute;
  left: -39px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #700000;
  top:150px;
  transform: rotate(-45deg);
}

.wheel {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background-color: #414042;
	position: absolute;
	/*-webkit-animation: goWheels 0.5s linear infinite normal;*/
}

.wheel:after {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	background-color: #F5F19A;
	position: absolute;
	top: 5px;
}


#wheel1 {
	left: 5px;
	-webkit-animation: goWheels 0.5s 0.1s linear infinite normal;
}
#wheel2 {
	left: 45px;
	-webkit-animation: goWheels 0.5s 0.2s linear infinite normal;
}
#wheel3 {
	left: 85px;
	-webkit-animation: goWheels 0.5s 0.3s linear infinite normal;
}
#wheel4 {
	left: 125px;
	-webkit-animation: goWheels 0.5s 0.4s linear infinite normal;
}
#wheel5 {
	left: 165px;
	-webkit-animation: goWheels 0.5s 0.1s linear infinite normal;
}
#wheel6 {
	left: 205px;
	-webkit-animation: goWheels 0.5s 0.2s linear infinite normal;
}
#wheel7 {
	left: 245px;
	-webkit-animation: goWheels 0.5s 0.3s linear infinite normal;
}
#wheel8 {
	left: 285px;
	-webkit-animation: goWheels 0.5s 0.4s linear infinite normal;
}
#wheel9 {
	left: 325px;
	-webkit-animation: goWheels 0.5s 0.1s linear infinite normal;
}
#wheel10 {
	left: 365px;
	-webkit-animation: goWheels 0.5s 0.2s linear infinite normal;
}
#wheel11{
	left: 405px;
	-webkit-animation: goWheels 0.5s 0.3s linear infinite normal;
}
#wheel12{
	left: 445px;
	-webkit-animation: goWheels 0.5s 0.4s linear infinite normal;
}
.package {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #403F63;
	top: 246px;
	left: 10px;
	-webkit-animation: goPackage 5s 0.3s linear infinite normal;
}
